.webvsed-editor {
    border: 1px solid black;
    font-size: 12px;
    font-family: sans-serif;
    padding: 0px 5px 5px 5px;

    > .row1 {
        padding: 5px 0px;
    }

    > .row2 {
        width: 100%;
    }

    .ctxtmenu {
        z-index: 1000;
    }
}

.webvsed-toolbar {
    padding: 2px;
    .buttonset {
        display: inline;
    }
}

.webvsed-sidebar {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;

    .resize-container {
        width: 200px;
        height: 100%;
    }

    .tree ul {
        margin: 0px;
        padding: 5px 10px 5px 20px;
        .jqtree-element {
            padding: 3px;
        }
        .node-disabled .jqtree-title {
            color: red;
        }
    }
}

.webvsed-tabs-view {
    height: 100%;
    float: right;

    .tabs {
        border: none;
    }

    .panel {
        padding: 0px;
        border: 1px solid #AAAAAA;
        border-radius: 3px;
    }

    .ui-tabs-nav {
        background: transparent;
        border: none;
        padding-top: 0px;

        li > a {
            padding: 5px 10px;
            font-size: 0.85em;
        }
        li.panelstate-active {
            background: #B5DFFC none;
        }
    }

    .ui-dialog {
        border: none;
        padding: 0px;

        .ui-dialog-titlebar {
            border-radius: 3px 3px 0px 0px;
            border-width: 1px 1px 0px 1px;
        }

        .panel {
            border-radius: 0px 0px 3px 3px;
            border-width: 0px 1px 1px 1px;
        }

        .ui-dialog-title {
            font-size: 0.85em;
            font-weight: normal;
            text-align: center;
        }
    }

    .ui-dialog.panelstate-active .ui-dialog-titlebar {
        background: #B5DFFC none;
    }
}


.webvsed-main-panel {
    padding: 10px;
}

.webvsed-component-panel {
    .header {
        background-color: #DEDEDE;
        border-bottom: 1px solid #AAAAAA;
        padding: 7px;

        .webvsed-booleanfield {
            float: left;
        }

        input[type=text] {
            font-size: 0.85em;
        }
    }

    .header.error {
        background-color: #FFE5E5;
    }

    .body {
        padding: 10px;
    }
}