.webvsed-field {
    > .title {
        font-weight: bold;
    }

    > .content > .messages, > .messages {
        margin: 5px 0px;
        padding: 10px;
        list-style: none;
    }

    button {
        border: 1px solid #AAAAAA;
        border-radius: 3px;
        background-color: #E4E4E4;
        padding: 3px 5px;
        cursor: pointer;
    }

    padding: 5px;
    margin: 2px 0px;
}

.webvsed-field.has-message {
    background-color: rgba(255,0,0,0.1);
}

.webvsed-containerfield() {
    &.no-title {
        border: none;
        padding: 0px;
    }

    &.collapsed {
        border: 1px dashed #AAAAAA;
    }

    &.collapsible {
        .title button {
            background-color: #FFFFFF;
        }

        &.collapsed .title button {
            background-color: #E4E4E4;
        }
    }
}

.webvsed-list-container() {
    > .content > .fieldBody {
        > .controls {
            background-color: #EEEEEE;
            padding: 3px;
            margin: 0px 0px 4px 0px;
        }

        > .items > .item {
            border-bottom: 1px dashed #AAAAAA;

            &:last-child {
                border-bottom: none;
            }

            > .controls {
                display: none;
                float: right;
                padding: 4px;
                margin: 0px 0px 4px 4px;
                background-color: white;

                .movehandle {
                    display: inline-block;
                    background-color: transparent;
                    cursor: move;
                    width: 16px;
                    height: 16px;
                    margin: 0px;
                    vertical-align: middle;
                }
            }

            &:hover {
                background-color: #FCFBF3;
                > .controls {
                    display: block;
                }
            }
        }
    }
}

.webvsed-objectfield {
    .webvsed-containerfield();
}

.webvsed-arrayfield {
    .webvsed-containerfield();
    .webvsed-list-container();
}

.webvsed-keyvaluefield {
    .webvsed-containerfield();
    .webvsed-list-container();
}

@urifield-width: 250px;
@urifield-preview-width: 50px;
.webvsed-urifield {
    .container {
        width: @urifield-width;
    }

    .line1 {
        input {
            width: @urifield-width - @urifield-preview-width - 20;
            &.is-data {
                color: #636363;
            }
        }
    }

    .line2 {
        text-align: right;
        margin-top: 3px;
        margin-right: @urifield-preview-width + 15;
    }


    .preview {
        text-align: center;
        font-size: 70%;
        float: right;
        height: @urifield-preview-width;
        width: @urifield-preview-width;
        line-height: @urifield-preview-width;
        border: 1px solid #AAAAAA;
        background-color: #888888;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0px;
        span {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;      
        }
    }
}