.webvsed-field {
    > .title {
        font-weight: bold;
    }

    > .content > .messages, > .messages {
        margin: 5px 0px;
        padding: 10px;
        list-style: none;
    }

    font-family: sans-serif;
    font-size: 12px;
    padding: 5px;
    margin: 2px 0px;
}

.webvsed-field.has-message {
    background-color: rgba(255,0,0,0.1);
}

.webvsed-arrayfield > .content > .fieldBody {
    > .controls {
        background-color: #EEEEEE;
        padding: 3px;
        margin: 0px 0px 4px 0px;
    }

    .arrayItem > .controls {
        display: none;
        float: right;
        padding: 3px;
        margin: 0px 0px 4px 0px;

        .movehandle {
            display: inline-block;
            background-color: transparent;
            cursor: move;
            width: 16px;
            height: 16px;
            margin: 0px;
            vertical-align: middle;
        }
    }

    .arrayItem:hover {
        background-color: #FCFBF3;
        > .controls {
            display: block;
        }
    }
}